


<!DOCTYPE html>



<html>
<head>
    <title> fundpage  </title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet.css"/>


</head>

<body>
    <img src="~/Content/2l.png"/>
    <heading> MAKE YOUR DONATIONS HERE, AND HELP YOUR COMMUNITY GROW!</heading>


    <!-- inline CSS on div tag;  external CSS on text boxes;-->

    <title1> WELCOME TO ONLINE FUNDING PORTAL</title1>
    <br />
    <br />
    <innerrec>

        <th>
            <a href="../../Home/signup"> SIGN UP </a>
        </th>
        <th>
            <a href="../../Home/signin"> SIGN IN</a>
        </th>


    </innerrec>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <innerrecforadmin>

        <th>

            ADMIN
            <enter>
                <a href="../../Home/AdminSignin"> LOG IN  </a>
            </enter>
        </th>

    </innerrecforadmin>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>


</html>